![alt text](img/LM.png)
# Kurs: Deep Learning, Text Mining i XAI w Pythonie

## Autor: Piotr Ćwiakowski

### Lekcja 6. NLP: Uczenie nadzorowane i nienadzorowane

# Zadanie 1. 

Wczytaj zbiór `Womens Clothing E-Commerce Reviews.csv` i następnie wykonaj poniższe polecenia:

- policz liczbę słów w każdej recenzji (i wyniki zaprezentuj za pomocą histogramu),
- sentyment w każdej recenzji (i wyniki zaprezentuj za pomocą histogramu),
- prawdopodobieństwo pozytywnej recenzji (i wyniki zaprezentuj za pomocą histogramu),
- korelację między ratingiem a prawdopodobieństwem pozytywnej recenzji,

Policz średni sentyment ze względu na Departamenty, Dywizje i Rodzaje ubrań. Czy klienci tak samo są zadowoleni ze wszystkich typów ubrań?

In [11]:
import pandas as pd
from textblob import TextBlob
df = pd.read_csv('dataTM/Womens Clothing E-Commerce Reviews.csv')

df.drop('Unnamed: 0', axis=1, inplace=True)
df.drop('Title', axis=1, inplace=True)
df.set_index('Clothing ID', inplace=True)
df = df[~df['Review Text'].isnull()]

def preprocess(ReviewText):
    ReviewText = ReviewText.str.replace("(<br/>)", "", regex=True)
    ReviewText = ReviewText.str.replace('(<a).*(>).*(</a>)', '', regex=True)
    ReviewText = ReviewText.str.replace('(&amp)', '', regex=True)
    ReviewText = ReviewText.str.replace('(&gt)', '', regex=True)
    ReviewText = ReviewText.str.replace('(&lt)', '', regex=True)
    ReviewText = ReviewText.str.replace('(\xa0)', ' ', regex=True)  
    return ReviewText
df['Review Text'] = preprocess(df['Review Text'])
df.head()

,Age,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
Clothing ID,,,,,,,,
767,33,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1080,34,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
1077,60,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
1049,50,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
847,47,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

Następnie przygotuj Document Term Matrix i policz:

- 20 najpopularniejszych słów (po usunięciu stopwords (i może lematyzacji?)
- 20 najpopularniejszych bigramów.

## Zadanie 2. 

Wczytaj zbiór `paper.p` i wykonaj segmentację danych. Możesz użyć innej techniki niż KMeans.

# Zadanie 3. 

Wczytaj zbiór `paper.p` i wykonaj analizę tematów metodą LDA.

# Zadanie 4.

Wczytaj zbiór z recenzjami filmów (przygotowany podczas poprzednich zajęć), stwórz DTM i wykonaj model prognozujący czy recenzja jest pozytywna czy negatywna.

# Zadanie 5.
Wczytaj zbiór `Restaurant_Reviews.tsv` i wykonaj model przewidujący sentyment klientów.